<!DOCTYPE html>
<html>
	<head>
		<meta charset="UTF-8">
		<title>Insert title here</title>
	</head>
	<body>
	
	<p th:text="${moviedto}"></p>
	
	
	<table th:if="${userdto} != null">
			<tr>
				
				<th>User</th>
				<th>Movie </th>
				<th>Movie Id</th>
				<th>Movie Overview</th>
			</tr>
			<tr>
				<td th:text="${userdto.getName()}"></td>
				
				<td>
					<table>
						<tr th:each="movieDto : ${userdto.getSeenMovies()}">
							<td th:text="${movieDto.getOriginalTitle()}"></td>
							<td th:text="${movieDto.getId()}"></td>
							<td th:text="${movieDto.getOverview()}"></td>
						</tr>
					</table>
				</td>
				
			</tr>
		</table>
		<br/>
		
		<form th:if = "${movielistdto} != null " action = "/movie/savemovie" method = "post">
			<input type = "number" name ="userid" />
			<select name ="movieid" >
			
				<option th:each = " movieDto : ${movielistdto.getMovieDtos()}" th:text = "${movieDto.getOriginalTitle()}"
					th:value ="${movieDto.getId()}"/>
				
			</select>
			<input type = "submit"/>
		</form>
		
		
	</body>
</html>