<!DOCTYPE html>
<html>
	<head>
		<meta charset="UTF-8">
		<title>Insert title here</title>
	</head>
	<body>
		<table>
		<tr>
			<th>MovieId</th>
			<th>Country Code And Releases</th>
		</tr>
		
		<tr>
			<td th:text="${releasedmoviedto.getMovieId()}"></td>
			<td>
				<table>
					<tr th:each="countryresultdto : ${releasedmoviedto.getCountryResultDtoList()}" >
					
						<td th:text="${countryresultdto.getCountryCode()}"></td>
						
						<td>
							<table>
								<tr th:each="releaseresultdto : ${countryresultdto.getReleaseResultDtoList()}" >
									
									<td th:text="${releaseresultdto.getRelease_date()}"></td>
								</tr>
							</table>
						</td>
					</tr>
				</table>
			</td>
		</tr>
	</table>
		
	</body>
</html>